hr{
    background-color: #CCD6A6;
    border-top:  dotted;
    height: 0.01px;
    width: 3%;
}
body{
    background-color:#FFF9B0;
}
h1{
    color:#C58940;
}
h3{
    color:#C58940 ;
}
